/* =====================================

        TABLE OF CONTENTS

1. resets/ defaults
2. main grid (margins, footer, portfolio)
3. scroll-circles
4. content/ section setup
5. home/ nav
6. projects
    6a. card1
    6b. card2
    6c. card3
    6d. not satisfied
7. skills
8. contact
9. footer
10. media queries
    10a. (max-width: 480px)
    10b. (max-width: 699px) and (min-width: 481px)
    10c. (max-width: 768px) and (min-width: 700px)
    10d. (max-width: 1024px) and (min-width: 769px)
    10e. (max-width: 1340px) and (min-width: 1025px)
    10f. (min-width: 1201px) <- currently set as default values

=====================================*/
/* =====================================
1. resets/ defaults
=====================================*/
/* =====================================
2. main grid (margins, footer, portfolio)
=====================================*/
/* =====================================
3. scroll-circles
=====================================*/
/* =====================================
4. content/ section setup
=====================================*/
/* =====================================
5. home/ nav
=====================================*/
/* =====================================
6. projects
=====================================*/
/* =====================================
7. skills
=====================================*/
/* =====================================
8. contact
=====================================*/
/* =====================================
9. footer
=====================================*/

/* =====================================

1. resets/ defaults

=====================================*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --ff: 'Poppins', sans-serif;
 
    /* font-weight */
    --fw-thin: 100;
    --fw-x-light: 200;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-x-bold: 800;
    --fw-black: 900;
    --fs-n: normal;
    --fs-i: italic;

    /* font-size */
    --name-fs: 9rem;
    --h1-fs: 7rem;
    --h2-fs: 2.5rem;
    --h3-fs: 2rem;
    --h4-fs: 1.4rem;
    --h5-fs: 1rem;
    --a-fs: 2.2rem;
    --btn-fs: 1rem;
    --card-type-fs: 4.5rem;
    --card-project-title: 3.5rem;

    /* BG Colors */
    /* --bg-color: #233554; */
    --bg-color: #0f1624;
    --bg-color-faded: #0f162469;
    --bg-color-drk: #18253b;

    /* Text colors*/
    --txt-primary: rgb(237, 237, 237);
    --txt-primary2:rgb(193, 219, 229);
    --txt-primary2-faded:rgba(193, 219, 229, 0.613);
    --txt-primary-faded: rgba(237, 237, 237,.25);
    --txt-secondary: rgb(172, 199, 198);
    --txt-visited: rgb(195, 195, 195);
    --txt-focus: #81e4ef;
    --txt-clicked: #6cd8b7;
    --txt-disabled: #8BBEDB;

    /* Button colors*/
    --btn-one: #71d4df82;
    --btn-two: #58b0ba;
    --btn-three: #6c93aa;
    --btn-four-logos-icons: #7daac4;
    --btn-four-logos-icons-faded: #7daac479;

    --box-shadow-main: 0px 5px rgba(0, 0, 0, 0.2);
    --box-shadow-hover: 4px 7px rgba(0, 0, 0, 0.34);
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    color: var(--txt-secondary);
    font-family: var(--ff);
   
}
a{
    text-decoration: none;
    color: var(--txt-primary);
    font-size: var(--a-fs);
    padding: 1rem;
}
ul{
    list-style: none;
}
h1{
    font-size: var(--h1-fs);
    font-weight: var(--fw-light);
    line-height: 1.5ch;
}
h2{
    font-size: var(--h2-fs);
    font-weight: var(--fw-x-light);
}
h3{
    font-size: var(--h3-fs);
    font-weight: var(--fw-x-light);
}
h4{
    font-size: var(--h4-fs);
    font-weight: var(--fw-x-light);
}
h5{
    font-size: var(--h5-fs);
    font-weight: var(--fw-x-light);
}
h6{
    font-weight: var(--fw-x-light);
}
.button{
    border-radius: 1.5rem;
    padding: 0 1rem;
    background-color: var(--btn-one);
    border-width: none;
    box-shadow: var(--box-shadow-main);
    font-family: var(--ff);
    list-style: none;
    display: flex;
    flex-direction: row;
    border: none;
    margin: auto;

    a{
        font-size: var(--btn-fs);
        color: var(--txt-primary);
    }
}

.button:hover{
    box-shadow: var(--box-shadow-hover);
    transform: translateX(-.1rem) translateY(-.2rem);
}
.button a:hover{
    color: var(--txt-secondary);
}
.social-links{
    grid-row: 13/14;
    list-style: none;
    justify-self: left;
    display: flex;
    flex-direction: row;

    li a{
        color: var(--txt-secondary);
    }
}

.social-links li:hover{
    opacity: 0.7;
    transform: scale(1.2);   
}

/* =====================================

2. main grid (margins, footer, portfolio)

=====================================*/

.greenhorn-portfolio{
    width: 100vw;
    display: grid;
    grid-template-columns: auto 80vw auto;
    grid-template-areas: 
        "left nav-list right"
        "lefttwo footer righttwo";
}
.margin1{
    background-color: rgb(70, 31, 70);
    grid-area: left;
    min-width: 1rem;
}

.margin2{
    background-color: rgb(45, 74, 45);
    grid-area: right;
    min-width: 1rem;
}


/* =====================================

    nav

=====================================*/


.nav{
    grid-area: nav-list;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: 3px solid red;
}

.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;

    li{
        padding-right: 3rem;
    }
}

.logo{
    width: 50%;
    fill: var(--btn-four-logos-icons-faded);
}

.logo-small{
    opacity: 0;
    transform: translateX(-200%);
} 









.toggles{
    display: flex;
    flex-direction: row;
    color: var(--btn-four-logos-icons);

    li{
        padding:0rem .5rem;
        font-size: 1.5rem;
    }
}

.toggles-dark{
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
}
.toggles-depth{
    display: flex;
    flex-direction: row;
}
.faded{
    color: var(--btn-four-logos-icons-faded);
}
.name{
    grid-row: 7/11;
    justify-self: left;
    align-self: center;
    font-size: var(--name-fs);
    font-weight: var(--fw-semi-bold);
    padding-bottom: 3rem;
}
.home-subheading{
    grid-row: 11/12;
    justify-self: left;
    align-self: center;
    font-style: italic;
    color: var(--txt-primary2-faded);
}
.home-section-buttons{
    list-style: none;
    grid-row: 15/17;
    grid-column: 1/10;
    display: flex;
    flex-direction: row;

    .home-section-button{
        padding-right: 3rem;

        a{
            font-size: var(--btn-fs);
            color: var(--txt-primary);
        }
    }
}


.home-section-button button:hover{
    box-shadow: var(--box-shadow-hover);
    transform: translateX(-.1rem) translateY(-.2rem);
}
.home-section-button button a:hover{
    color: var(--txt-secondary);
}
.scroll-icon{
    grid-column: 1/11;
    grid-row:17/20;

    h5{
        line-height: .1rem;
    }
    a{
        color: var(--btn-four-logos-icons-faded);
    }
}
.scroll-icon:hover{
    cursor: pointer;
}

/* =====================================

6. projects

=====================================*/

.projects{
    grid-area: projects;
}
.projects-heading{
    grid-row: 3/6;
}
/* .projects-subheading{
    grid-row: 6/7;
} */
.cards{
    grid-column: 1/9;
    grid-row:6/16;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1fr 1fr 1.5fr .8fr 1fr .7fr 14fr 1fr 1.2fr .8fr; 
    max-height: 550px;

    .date{
        grid-column: 1/2;
        grid-row: 2/3;
        height: 2rem;
        padding-left: 1rem;
        padding-top: .5rem;
        color: var(--txt-primary-faded);
    }
    .type{
        grid-column: 1/3;
        grid-row: 3/4;
        padding-left: 1rem;
        color: var(--txt-primary-faded);
        font-size: var(--card-type-fs);
        text-transform: uppercase;
        font-weight: var(--fw-thin);
        z-index: 1;
    }
    .img{
        grid-column: 1/3;
        grid-row: 4/6;
        height: 3rem;
    }
    .fg-img{
        grid-column: 2/3;
        grid-row: 1/6;
        z-index: 2;
    }
    .project-title{
        font-size: var(--card-project-title);
        font-weight: var(--fw-semi-bold);
        color: var(--txt-primary2);
        grid-column: 1/3;
        grid-row: 6/7;
        padding-left: 1rem;
        z-index: 3;
    }
    .top-border{
        grid-column: 1/3;
        grid-row: 2/6;
        border-radius: 2rem 2rem 0 0;
    }
    .medium{
        grid-column: 1/2;
        grid-row: 7/8;
        padding-left: 1rem;
        color: var(--txt-primary2-faded);
        font-weight: var(--fw-thin);
    } 
    .content{
        grid-column: 1/3;
        grid-row: 8/9;
        max-width: 35ch;
        padding: 1rem;
    }
    .bottom{
        grid-column: 1/3;
        grid-row: 11/12;
        border-radius: 0 0 2rem 2rem;
        height: 2rem;
        box-shadow: var(--box-shadow-main);
    }
}
.card-buttons{
    grid-row: 10/11;
    grid-column: 1/3;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    z-index: 10;
    button a{
        padding: 0;
        color: var(--txt-primary2);
    }
}

/* .software-used{
    grid-column: 1/3;
    grid-row: 9/10;
    padding-left: 1rem;
} */



/* =====================================
    6a. card1
=====================================*/

.card1{
    .top-border{
        background-image: linear-gradient(to bottom, rgb(20, 64, 20),rgba(0, 168, 0, 0)); 
    }
    .bottom{
        background-image: linear-gradient(to top, rgb(20, 64, 20),rgba(0, 168, 0, 0)); 
    }
    .fg-img{
        background: url(/css/images/greenhorn/greenhorn_jeff_green.PNG);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(2.25) translateX(-3rem);
        z-index: 5;
        filter: brightness(60%);
    }
    .card-img{
        background: url(/css/images/greenhorn/greenhorn_benny_green.PNG); 
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(6.5) translateY(-.75rem) translateX(-.25rem); 
        filter: brightness(60%);  
    }

} 

/* =====================================
    6b. card2
=====================================*/

.card2{
    .top-border{
        background-image: linear-gradient(to bottom, rgb(20, 43, 64),rgba(0, 168, 0, 0));
    }
    .bottom{
        background-image: linear-gradient(to top, rgb(20, 43, 64),rgba(0, 168, 0, 0));
    }
    .card-btn-1{
        opacity: .5;
    }
} 


/* =====================================
    6c. card3
=====================================*/

.card3{
    .top-border{
        background-image: linear-gradient(to bottom, rgb(64, 20, 20),rgba(0, 168, 0, 0));
    }
    .bottom{
        background-image: linear-gradient(to top, rgb(64, 20, 20),rgba(0, 168, 0, 0));
    }
    .card-btn-1{
        opacity: .5;
    }
} 


/* =====================================
    6d. not satisfied
=====================================*/

.not-satisfied{
    grid-row:17/21;
    justify-self: left;
    text-align: left;
    align-items: left;
    align-self: left;
    display: flex;
    flex-direction: column;
}
.projects-and-resume-buttons{
    grid-column: 1/11;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    li{
        padding-right: 2rem;

        button h4{
            width: max-content;
        }
    }
}

/* =====================================

7. skills

=====================================*/

.skills{
    grid-area: skills;
}
.skills-heading{
    grid-column: 1/11;
    grid-row:3/6;
}
.skills-columns{
    grid-row:8/15;
    grid-column: 1/11;
    display: flex;
    flex-direction: row;
}
.skill-column{
    padding-right: 10rem;

    h3{
        color: var(--txt-primary2);
        font-weight: var(--fw-semi-bold);
    }
} 

.skills-section-jump-buttons{
    grid-column: 1/11;
    grid-row:15/17;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.skills-section-jump-buttons li{
    padding-right: 2rem;
}
.skill-list-item{
    font-size: var(--h5-fs);
    font-weight: var(--fw-x-light);
}

/* =====================================

8. contact

=====================================*/

.contact{
    grid-area: contact;
    height: 90vh;
}

.contact-heading{
    grid-column: 1/11;
    grid-row:2/7;
}
.contact-items{
    grid-column: 1/11;
    grid-row:5/8;
    a{
        text-decoration: 1px underline;

    }
}

.or-use-form{
    grid-column: 1/11;
    grid-row:8/10;
}
.contact-form{
    grid-column: 1/11;
    grid-row:9/15;
    display: flex;
    flex-direction: column;
}
.input-name{
    display: flex;
    flex-direction: row;
}
.input-contact-info{
    display: flex;
    flex-direction: row;
}
.input-info{
    font-size: 1.5rem;
    text-transform: lowercase;
    width: 14vw;
    border-radius: .5rem;
    background-color: rgb(212, 212, 212);
    color: var(--primary-clr2);
    padding: .5rem;
    margin-right: 1vw;
    margin-bottom: 1vh;
}
.input-message{
    font-size: 1.5rem;
    text-transform: lowercase;
    width: 30vw;
    border-radius: .5rem;
    background-color: rgb(212, 212, 212);
    color: var(--primary-clr2);
    padding: .5rem;
}
.send-button-and-social-media{
    grid-column: 1/11;
    grid-row:15/17;
    display: flex;
    flex-direction: row;
}
.send-button{
    padding-right: 1rem;
    color: var(--txt-primary);
    input{
        padding: .5rem 1rem;
        color: var(--txt-primary);
    }
}

.back-to-home{
    grid-column: 1/11;
    grid-row:19/21;
    color: var(--btn-four-logos-icons-faded);
    h5{
        line-height: .1rem;
    }
    a{
        color: var(--btn-four-logos-icons-faded);
    }
}

.back-to-home:hover{
    cursor: pointer;
}


/* =====================================

9. footer

=====================================*/

.footer-margin-1{
    grid-area: lefttwo;
    background-color: var(--bg-color-drk);
}
.footer-margin-2{
    grid-area: righttwo;
    background-color: var(--bg-color-drk);
}
.footer{
    background-color: var(--bg-color-drk);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
} 
.copyright{
    color: var(--txt-primary2-faded);
}
.quick-link-list{
    display: flex;
    flex-direction: row;
    a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.35);
        font-size: var(--h3-fs);
        font-weight: var(--fw-medium);
        padding: .1ch;
    }
}

.quick-link-odd a{
    color: rgba(0, 0, 0, 0.5);
}
.copyright-and-quicklinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.social-links-mq{
    position: fixed;
    opacity: 0;
    transform: translateX(-200%);
}


@media screen and (max-width: 480px){
/* =====================================
1. resets/ defaults
=====================================*/
    :root{
        /* font-size */
        --name-fs: 4rem;
        --h1-fs: 2rem;
        --h2-fs: 1.25rem;
        --h3-fs: 1.25rem;
        --h4-fs: 1.rem;
        --h5-fs: 1rem;
        --a-fs: 1rem;
        --btn-fs: 1rem;
        --card-type-fs: 2.5rem;
        --card-project-title: 3rem;
    }
    .button{
        padding: 0;
        margin: 0;
    }
    .social-links{
        opacity: 0;
        transform: translateX(-200%);
    }
    .back-to-home{
        opacity: 0;
    }

/* =====================================
2. main grid (margins, footer, portfolio)
=====================================*/
    .portfolio{
        display: grid;
        grid-template-columns:auto auto auto;
        grid-template-areas: 
            "left content right"
            "footer footer footer";
    }
/* =====================================
3. scroll-circles
=====================================*/
    .scroll{
        background-color: transparent;
        grid-area: scroll;
    }
    .scroll-circles{
        position: absolute;
        li{
            width: 0;
            height: 0;
            background: transparent;
            border: none;
            opacity: 0;
        }
    }
/* =====================================
4. content/ section setup
=====================================*/
/* =====================================
5. home/ nav
=====================================*/
    .toggles{
        opacity: 0;
        transform: translateX(-100%);
    }

    .logo-small{
        opacity: 0;
        /* transform: translateX(500%) translateY(-100%) scale(8); */
    }

    .logo-large{
        opacity: 0;
        transform: translateX(-100%);
    }

    .name{
        grid-row: 7/9;
        line-height: 2ch;
    }
    .home-subheading{
        grid-row: 9/11;
    }
    .home-section-buttons{
        list-style: none;
        grid-row: 14/17;
        grid-column: 1/10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .scroll-icon{
        opacity: 0;
    }
/* =====================================
6. projects
=====================================*/
    .projects-heading{
        grid-row: 2/3;
    }    
    .cards{
        flex-direction: column;
        grid-row:4/14;
    }
    .card{
        height: 25vh;
        max-width: 300px;
        max-height: 40vh;
        overflow: hidden;
        .project-title{
            font-size: var(--card-project-title);
            font-weight: var(--fw-semi-bold);
            color: var(--txt-primary2);
            grid-column: 1/3;
            grid-row: 3/3;
            padding-left: 1rem;
            z-index: 3;
        }
        .content, .type, .card-buttons, .fg-img, .img, .medium{
            opacity: 0;
        }
    }

    .not-satisfied{
        grid-row:15/19;
    }
    .projects-and-resume-buttons{
        align-items: center;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        white-space: nowrap;
        gap: .5rem;
    }
    .projects-and-resume-buttons li a{
        padding: .2rem .7rem;
        margin: .2;
    }

/* =====================================
7. skills
=====================================*/
    .skills-heading{
        max-width: min-content;
    }
    .skills-columns{
        flex-direction: column;
        grid-row: 6/14;
    }
    .skills-section-jump-buttons{
        grid-column: 1/11;
        grid-row:18/20;
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    .skills-section-jump-buttons button a{
        margin: 0;
        padding: .25rem .5rem;
    }

/* =====================================
8. contact
=====================================*/
    .contact-heading{
        grid-column: 1/11;
        grid-row:4/7;
    }
    .input-info{
        font-size: 1rem;
        width: 39vw;
        padding: .5rem;
    }
    .input-message{
        font-size: 1rem;
        width: 80vw;
        padding: .5rem;
    }
/* =====================================
9. footer
=====================================*/
    .footer{
        display: flex;
        flex-direction: column;
        width: 100vw;

    }
    .quick-links{
        opacity: 0;
        transform: translateX(200%);
    }
    .copyright{
        display: inline;
        white-space: nowrap;
        font-size: .75rem;
    }
    .social-links-footer{
        position: relative;
        transform: translateX(-1rem);
    }
    .social-links-mq{
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: .7;
        background-color: var(--bg-color-drk);
        transform: translateX(0);
    }


}


@media screen and (max-width: 699px) and (min-width: 481px){
    :root{
        /* font-size */
        --name-fs: 6rem;
        --h1-fs: 4rem;
        --h2-fs: 1.75rem;
        --h3-fs: 1.25rem;
        --h4-fs: 1.rem;
        --h5-fs: 1rem;
        --a-fs: 1rem;
        --btn-fs: 1rem;
        --card-type-fs: 2.5rem;
        --card-project-title: 3rem;
    }
    .toggles{
        flex-direction: column;
    }
    .toggles li{
        padding:.25rem;
        font-size: 1rem;
    }
    .logos{
        position: relative;
        top: -30%;
    }
    .logo{
        width: 70%;
    }

    .logo-small{
        opacity: 1;
        transform: translateX(0);
    }

    .logo-large{
        opacity: 0;
        transform: translateX(-200%);
    }

    .button{
        padding: 0;
        margin: 0;
    }

    .name{
        grid-row: 7/9;
    }


    .home-subheading{
        grid-row: 9/11;
    }

    .home-section-buttons{
        list-style: none;
        grid-row: 14/17;
        grid-column: 1/10;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .cards{
        flex-direction: column;
    }
    .card{
        height: 25vh;
        max-width: 35ch;
        max-height: 40vh;
        overflow: hidden;
    }

    .card-content, .card-type, .card-buttons, .card-fg-img, .card-img, .card-medium{
        opacity: 0;
    }
    .card-project-title{
        font-size: var(--card-project-title);
        font-weight: var(--fw-semi-bold);
        color: var(--txt-primary2);
        grid-column: 1/3;
        grid-row: 3/3;
        padding-left: 1rem;
        z-index: 3;
       /*  margin: 1.5rem 0; */
    }

    

    .projects-and-resume-buttons{
        align-items: center;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        white-space: nowrap;
        gap: .5rem;
    }
    .projects-and-resume-buttons li a{
        padding: .2rem .7rem;
        margin: .2;
    }

    .skills-columns{
        flex-direction: column;
        grid-row: 7/14;
    }

    .scroll-icon{
        opacity: 0;
    }

    .social-links li{
        transform: scale(.75);
    }

    .scroll-icon h5{
        line-height: 1rem;
    }
    
    .portfolio{
        display: grid;
        grid-template-columns:5vw 90vw 5vw;
        grid-template-areas: 
            "left content right"
            "lefttwo footer righttwo";
    }

    .scroll{
        background-color: transparent;
        grid-area: scroll;
    }
    .scroll-circles{
        position: absolute;
    }
    
    .scroll-circles li{
        width: 0;
        height: 0;
        background: transparent;
        border: none;
    }
    .card1 .card-fg-img{
        transform: scale(1);
    } 
    
    .card1 .card-img{
        transform: scaleX(-2.65) scaleY(2.65) translateX(1rem);   
    } 

    .skills-section-jump-buttons{
        grid-column: 1/11;
        grid-row:18/20;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .input-info{
        font-size: 1rem;
        width: 30vw;
        padding: .5rem;
    }
    
    .input-message{
        font-size: 1rem;
        width: 62vw;
        padding: .5rem;
    }

    .back-to-home{
        opacity: 0;
    }

    .social-links{
        transform: translateX(-200%);
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .quick-links{
        opacity: 0;
        transform: translateX(200%);
    }

    .copyright{
        display: inline;
        white-space: nowrap;
    }

    .social-links-mq{
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 1;
        background-color: var(--bg-color-drk);
        transform: translateX(0);
    }
}


@media screen and (max-width: 768px) and (min-width: 700px){
    :root{
        /* font-size */
        --name-fs: 6rem;
        --h1-fs: 4rem;
        --h2-fs: 1.75rem;
        --h3-fs: 1.25rem;
        --h4-fs: 1.rem;
        --h5-fs: 1rem;
        --a-fs: 1rem;
        --btn-fs: 1rem;
        --card-type-fs: 2.5rem;
        --card-project-title: 2rem;
    }

    .button{
        padding: 0;
        margin: 0;
    }

    .name{
        grid-row: 7/9;
    }


    .home-subheading{
        grid-row: 9/11;
    }

    .home-section-buttons{
        list-style: none;
        grid-row: 14/17;
        grid-column: 1/10;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .scroll-icon{
        opacity: 0;
    }

    .social-links li{
        transform: scale(.75);
    }

    .scroll-icon h5{
        line-height: 1rem;
    }
    
    .portfolio{
        display: grid;
        grid-template-columns:5vw 90vw 5vw;
        grid-template-areas: 
            "left content right"
            "lefttwo footer righttwo";
    }

    .scroll{
        background-color: transparent;
        grid-area: scroll;
    }
    .scroll-circles{
        position: absolute;
    }
    
    .scroll-circles li{
        width: 0;
        height: 0;
        background: transparent;
        border: none;
    }
    .card1 .card-fg-img{
        opacity: 0;
    } 
    
    .card1 .card-img{
        opacity: 0;   
    } 
    .card-buttons{
        grid-row: 9/11;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .card-medium{
       opacity: 0;
       transform: translateX(-200%);
    }


    .card-project-title{
        grid-column: 1/3;
        grid-row: 4/6;
    }
    .card-content{
        grid-column: 1/3;
        grid-row: 6/9;
        max-width: 35ch;
        padding: 1rem;
    }

    .card-buttons .button{
        align-items: center; 
        justify-content: center;
        text-align: center;
        padding: .15rem 1rem;  
        max-width: max-content;     
    }

    .skills-section-jump-buttons{
        grid-column: 1/11;
        grid-row:18/20;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .input-info{
        font-size: 1rem;
        width: 30vw;
        padding: .5rem;
    }
    
    .input-message{
        font-size: 1rem;
        width: 62vw;
        padding: .5rem;
    }

    .back-to-home{
        opacity: 0;
    }

    .social-links{
        transform: translateX(-200%);
    }
    .footer{
        display: flex;
        flex-direction: column;
    }

    .copyright-and-quicklinks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social-links-mq{
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 1;
        background-color: var(--bg-color-drk);
        transform: translateX(0);
    }

}


@media screen and (max-width: 1024px) and (min-width: 769px){
    :root{
        /* font-size */
        --name-fs: 8rem;
        --h1-fs: 5rem;
        --h2-fs: 2rem;
        --h3-fs: 1.5rem;
        --h4-fs: 1.25rem;
        --h5-fs: 1rem;
        --a-fs: 1.5rem;
        --btn-fs: 1rem;
        --card-type-fs: 2.5rem;
        --card-project-title: 2rem;
    }

    .social-links li{
        transform: scale(.75);
    }

    .scroll-icon h5{
        line-height: .8rem;
    }
    
    .portfolio{
        display: grid;
        grid-template-columns:5vw 90vw 5vw;
        grid-template-rows: auto 5vh;
        grid-template-areas: 
            "left content right"
            "lefttwo footer righttwo";
    }

    .scroll{
        background-color: transparent;
        grid-area: scroll;
    }
    .scroll-circles{
        position: absolute;
    }
    
    .scroll-circles li{
        width: 0;
        height: 0;
        background: transparent;
        border: none;
    }
    .card1 .card-fg-img{
        transform: scale(1.75) translateX(-2rem);
        z-index: 5;
    } 
    
    .card1 .card-img{
        transform: scale(4.5) translateY(-.65rem) translateX(-.1rem);   
    } 

    .skills-section-jump-buttons{
        grid-column: 1/11;
        grid-row:18/20;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .input-info{
        font-size: 1rem;
        width: 30vw;
        padding: .5rem;
    }
    
    .input-message{
        font-size: 1rem;
        width: 62vw;
        padding: .5rem;
    }

    .footer{
        display: inline;
        width: 100%;
        align-items: center;
        text-align: center;

       
    }

   .copyright, .quick-links{
        align-items: center;
        text-align: center;

    }
}


@media screen and (max-width: 1340px) and (min-width: 1025px){
    :root{
        /* font-size */
        --name-fs: 8rem;
        --h1-fs: 5rem;
        --h2-fs: 2rem;
        --h3-fs: 1.5rem;
        --h4-fs: 1.25rem;
        --h5-fs: 1rem;
        --a-fs: 1.5rem;
        --btn-fs: 1rem;
        --card-type-fs: 3rem;
        --card-project-title: 3rem;
    }

    .social-links li{
        transform: scale(.75);
    }

    .scroll-icon h5{
        line-height: .8rem;
    }
    
    .portfolio{
        display: grid;
        grid-template-columns:5vw 90vw 5vw;
        grid-template-areas: 
            "left content right"
            "lefttwo footer righttwo";
    }

    .scroll{
        background-color: transparent;
        grid-area: scroll;
    }
    .scroll-circles{
        position: absolute;
    }
    
    .scroll-circles li{
        width: 0;
        height: 0;
        background: transparent;
        border: none;
    }
    .card1 .card-fg-img{
        transform: scale(2) translateX(-2.5rem);
        z-index: 5;
    } 
    
    .card1 .card-img{
        transform: scale(5.5) translateY(-.65rem) translateX(-.1rem);   
    } 

    .skills-section-jump-buttons{
        grid-column: 1/11;
        grid-row:18/20;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .input-info{
        font-size: 1rem;
        width: 30vw;
        padding: .5rem;
    }
    
    .input-message{
        font-size: 1rem;
        width: 62vw;
        padding: .5rem;
    }

}


/* extra large screens, TVs*/
@media screen and (min-width: 1201px) {
  

}
